/*добавляем шрифты*/
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*создаем сниппет*/
/*создаем сниппет для жирного шрифта*/
/*базовые цвета*/
/*цвет кнопок*/
/*зеленый цвет,иконки*/
/*цвет текста*/
/*красный цвет,предупреждающие материалы*/
/*фон,серый*/
/*белый цвет*/
/*базовые настройки*/
html {
  /*размер шрифта*/
  font-size: 10px;
}
/*для тега бади прописываем стандартный шрифт*/
body {
  /*выбираем какой будет шрифт в этом сниппете*/
  font-family: 'ProximaNova_Reg', sans-serif;
}
/*обращение к ссылке*/
a:hover {
  /*убераем при наведении подводку*/
  text-decoration: none;
}
/*к кому обращение*/
button,
input,
a {
  /* в состоянии при наведении*/
}
button:focus,
input:focus,
a:focus {
  /*нет обводки*/
  outline: none;
}
/*кнопка*/
.button {
  /*внутренние отступы*/
  padding: 1rem 3rem;
  /*закругление*/
  border-radius: 8px;
  /*размер шрифта*/
  font-size: 1.2rem;
  /*цвет кнопки*/
  background-color: #f8b001;
  /*цвет текста*/
  color: #ffffff;
  /*заглавные буквы*/
  text-transform: uppercase;
  /*убераем окантовку*/
  border: none;
  /*осветление*/
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /*прописываем псевдо класс*/
}
.button:hover {
  /*указатель пальчик*/
  cursor: pointer;
  /*оветляем кнопку*/
  background-color: #df9e01;
}
/*заголовки*/
section {
  /*отступ сверху и по краям*/
  padding: 10rem 0;
}
/*первый экран*/
.main {
  padding: 3rem 0 5rem;
  /*подключаем фон*/
  background: #ffffff url(../img/main-bg.png) center center no-repeat;
  /*делаем больше размер фона*/
  background-size: cover;
  /*обращаемся ко второму блоку*/
  /*обращение к подзаголовку*/
  /*обращение к блоку с суммой*/
  /*обращение к заголовку оплата по факту*/
  /*главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*обращение к заголовку*/
}
.main-content h1 {
  margin-top: 0;
  /*отступ снизу*/
  margin-bottom: 4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  /*размер шрифта*/
  font-size: 4rem;
  /*растояние между строк*/
  line-height: 1.45;
  /*заглавные буквы*/
  text-transform: uppercase;
}
.main-subtitle {
  /*отступ снизу*/
  margin-bottom: 4rem;
  /*размер шрифта*/
  font-size: 2.4rem;
}
.main span {
  /*строчно блочный*/
  display: inline-block;
  /*внутренний отступ по краям и по верхам*/
  padding: 3rem 5rem;
  /*размер шрифта*/
  font-size: 1.8rem;
  /*цвет шрифта*/
  color: #ffffff;
  /*цвет блока*/
  background-color: #45b713;
  /*выравнивание текста по центру*/
  text-align: center;
  /*цифра 300*/
}
.main span strong {
  /*размер шрифта*/
  font-size: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-trigger {
  /*делаем блочным что бы он оказался на другой строке*/
  display: block;
  /*отступ сверху*/
  margin-top: 3rem;
  /*размер шрифта*/
  font-size: 2.2rem;
  /*текст заглавными буквами*/
  text-transform: uppercase;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-form {
  /* белый фон*/
  background-color: #ffffff;
  /*внутренние отступы*/
  padding: 4rem 5rem;
  /*выравнивание по центру*/
  text-align: center;
  /*заголовок формы*/
  /*обращение к инпутам*/
  /*подписи к полям*/
  /*кнопка отправить заявку*/
  /*подпись под кнопкой*/
}
.main-form-header {
  /*отступ сверху*/
  margin-bottom: 4rem;
  /*размер шрифта*/
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  /*делаем блочным что бы переносить на другую строку*/
  display: block;
  /*отступ*/
  margin: 2rem 0;
  border: 1px solid #dddddd;
  /*ширина*/
  width: 100%;
  /*внутренний отступ что бы сделать инпут выше*/
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  /*отступ слева*/
  left: 50%;
  /*вернуть на 50% обратно*/
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /*отступ*/
  padding: 0.5rem;
  /*фон*/
  background-color: #ffffff;
  /*размер шрифта*/
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  /*ширина кнопки*/
  width: 100%;
  /*высота кнопки*/
  height: 5.5rem;
  /*размер текста*/
  font-size: 1.6rem;
}
.main-form small {
  /*что бы сьехал на другую строку*/
  display: block;
  /*отступ сверху*/
  margin-top: 1.5rem;
}
/*первый отсек*/
.header {
  /*высота*/
  height: 7rem;
  text-align: center;
}
/*выравнивание кнопки по центру*/
.wrap {
  /*делаем как таблицу*/
  display: table;
  /*ширина*/
  width: 100%;
  /*высота*/
  height: 7rem;
  /*обращаемся к wrap-block*/
}
.wrap-block {
  /*отодвигаем вправо*/
  text-align: right;
  display: table-cell;
  /*вертикальное выравнивание по середине*/
  vertical-align: middle;
}
.phone {
  /*обвертка*/
  /*ссылка на телефон*/
}
.phone-block {
  text-align: right;
}
.phone-link {
  /*блочно-строчная*/
  display: inline-block;
  /*делаем шрифт*/
  font-family: 'ProximaNova_Bold', sans-serif;
  /*размер шрифта*/
  font-size: 2rem;
  /*высота*/
  height: 7rem;
  /*растояние между букваит*/
  line-height: 7rem;
  /*цвет*/
  color: #1a1820;
}
/*медиазапросы для экранов меньше 991пикс*/
@media (max-width: 991px) {
  /*обращение ко всему первому экрану*/
  .main {
    /*прижимаем картинку(фон) к верху и правому краю*/
    background-position: top right;
  }
  .phone-block {
    /*выравнивание ссылки по центру*/
    text-align: center;
}
  /*обращение ко второму блоку*/
  .main-content {
    margin-top: 3rem;
  }
  /*обращение к заголовку*/
  .main-title {
    /*внутрений нижний отступ*/
    padding-bottom: 3rem;
    /*текст по центру*/
    text-align: center;
  }
}
/*медиа запрос для экранов максимальная ширина 767 пикс*/
@media (max-width: 767px) {
  /*обращение к первому экрану*/
  .main {
    /*прижимаем картинку к верху и к левому краю*/
    background-position: top left;
  }
  /*верхняя часть сайта*/
  .header {
    /*выравнивание по центру*/
    text-align: center;
    /*кнопка*/
  }
  .header .wrap-block {
    /*выравнивание по центру*/
    text-align: center;

  }
}

.logotip {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
margin-top: -30px;
  

}